######################################
##### if required htpps rewrite please uncomment below code
#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
######################################

######################################
#### Display index.html at 404,403,401,500
ErrorDocument 500 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
######################################
